/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: "Circular Std", "Helvetica Neue", Arial, Helvetica, sans-serif; }

h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0.75rem 0 0.25rem;
  font-size: 0.625rem;
  color: #ff7d00; }

@-webkit-keyframes meta-animate {
  0% {
    -webkit-transform: translateY(0); }

  50% {
    -webkit-transform: translateX(4px) translateY(4px); }

  100% {
    -webkit-transform: translateX(0) translateY(0); } }

@-moz-keyframes meta-animate {
  0% {
    -moz-transform: translateY(0); }

  50% {
    -moz-transform: translateX(4px) translateY(4px); }

  100% {
    -moz-transform: translateX(0) translateY(0); } }

@-o-keyframes meta-animate {
  0% {
    -o-transform: translateY(0); }

  50% {
    -o-transform: translateX(4px) translateY(4px); }

  100% {
    -o-transform: translateX(0) translateY(0); } }

@keyframes meta-animate {
  0% {
    transform: translateY(0); }

  50% {
    transform: translateX(4px) translateY(4px); }

  100% {
    transform: translateX(0) translateY(0); } }

body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  font-family: "Circular Std", "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: black;
  background: white;
  color: black; }

::selection {
  background: #777;
  color: white; }

::-moz-selection {
  background: #777;
  color: white; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

.clearfix {
  display: block; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

strong {
  font-weight: 700;
  font-family: "Circular Std", "Helvetica Neue", Arial, Helvetica, sans-serif; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  color: black; }

.center {
  text-align: center; }

.noborder {
  border: 0 !important; }

.hide-text {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden; }

.avatar {
  display: block;
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0 1rem; }

body {
  background: url(../img/nyc.jpg) center center no-repeat;
  background-size: cover; }

header, section, footer {
  width: 100%;
  height: auto; }

.wrapper {
  display: block;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 3rem 2rem; }
  .wrapper::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.block-half {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 47.58547%; }
  .block-half:last-child {
    margin-right: 0; }

.block-third {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 30.11397%; }
  .block-third:last-child {
    margin-right: 0; }

.block-fourth {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 21.37821%; }
  .block-fourth:last-child {
    margin-right: 0; }

.block-fifth {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 16.13676%; }
  .block-fifth:last-child {
    margin-right: 0; }

.header {
  background: white; }

.info-contain {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 2rem; }

.info {
  background: #eeeeee;
  height: 100%;
  padding: 1rem; }

.logo {
  display: block; }

.project-grid .wrapper {
  padding: 1rem 0.5rem;
  max-width: 100%; }

.project-grid-contain {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: block; }
  .project-grid-contain::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.project-thumb {
  display: inline-block;
  margin-bottom: 0.25rem;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 0px 0px black;
  -webkit-transition: 200ms all ease-out;
  -moz-transition: 200ms all ease-out;
  transition: 200ms all ease-out; }
  .project-thumb img {
    display: block;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .project-thumb .project-thumb-meta {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition: 100ms all ease-out;
    -moz-transition: 100ms all ease-out;
    transition: 100ms all ease-out; }
    .project-thumb .project-thumb-meta h2, .project-thumb .project-thumb-meta h3 {
      background: #f9f9f9;
      display: table;
      padding: 0.25rem; }
  .project-thumb:hover {
    box-shadow: 7px 7px 0px black;
    -webkit-transform: translateX(-2px) translateY(-2px);
    -moz-transform: translateX(-2px) translateY(-2px);
    -ms-transform: translateX(-2px) translateY(-2px);
    -o-transform: translateX(-2px) translateY(-2px);
    transform: translateX(-2px) translateY(-2px); }
    .project-thumb:hover .project-thumb-meta {
      -webkit-transform: translateX(0) translateZ(0);
      -moz-transform: translateX(0) translateZ(0);
      -ms-transform: translateX(0) translateZ(0);
      -o-transform: translateX(0) translateZ(0);
      transform: translateX(0) translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }

@media screen and (min-width: 768px) {
  .project-grid .wrapper {
    padding: 2rem 2rem; }

  .project-grid-contain {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem; }

  .project-thumb {
    margin-bottom: 1.5rem; } }
@media screen and (min-width: 1280px) {
  .project-grid-contain {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem; } }
@media screen and (min-width: 1900px) {
  .project-grid-contain {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem; } }
