@import "partials/_reset";
@import "bourbon";
@import "neat/neat";
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_styleguide";
@import "partials/_base";

// Structure

header, section, footer {
  width: 100%;
  height: auto;
}

body {
  @include clearfix;
}

.wrapper {
  @include outer-container;
  width: 100%;
  padding: 3rem 2rem;
}

.block-half {
  @include span-columns(6 of 12);
}

.block-third {
  @include span-columns(4 of 12);
}

.block-fourth {
  @include span-columns(3 of 12);
}

.block-fifth {
  @include span-columns(2.4 of 12);
}


// Header

.masthead-contain {
  height: 100%;
  background: url(https://farm4.staticflickr.com/3681/12736901784_99469b8dc8_h.jpg) no-repeat right center;
  background-size: cover;
  padding:1rem;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
  img {
    width: 100%;
    height: auto;
  }
  &:after {
    content:" ";
    display: block;
    width: 7%;
    background: $orange;
    height: 2px;
    margin-bottom: 1.25%;
  }
}

.logo-subhead {
}

.info-contain {
  height: 100%;
  background: $orange;
  padding: 1rem;
}

.info {
   height: 100%;
   max-width: 37.5rem;
   position: relative;
}

.p-white-sm {
  font-size: 0.65rem;
  margin: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {

.masthead-contain, .info-contain {
  float: left;
  width: 50%;
  padding: 4rem;
}

.p-white-sm {
  position: absolute;
  bottom: 0;
}

}

@media screen and (min-width: 1441px) {
/*
.masthead-contain {
  width: 66.666%;
}
.info-contain {
  width: 33.333%;
}*/

.logo {
  width: 75%;
}

}