/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'sans';
  src: url("../f/circularstd-medium.eot");
  src: url("../f/circularstd-medium.eot") format("embedded-opentype"), url("../f/circularstd-medium.woff") format("woff"), url("../f/circularstd-medium.ttf") format("truetype"), url("../f/circularstd-medium.svg#CircularStdMediumRegular") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'sans';
  src: url("../f/circularstd-book.eot");
  src: url("../f/circularstd-book.eot") format("embedded-opentype"), url("../f/circularstd-book.woff") format("woff"), url("../f/circularstd-book.ttf") format("truetype"), url("../f/circularstd-book.svg#CircularStdBookRegular") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'sans';
  src: url("../f/circularstd-bold.eot");
  src: url("../f/circularstd-bold.eot") format("embedded-opentype"), url("../f/circularstd-bold.woff") format("woff"), url("../f/circularstd-bold.ttf") format("truetype"), url("../f/circularstd-bold.svg#CircularStdBoldRegular") format("svg");
  font-style: normal;
  font-weight: 900; }

h1, h2, h3, h4, h5 {
  font-family: "sans", "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
  -webkit-font-smoothing: antialiased; }

h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 0.25rem;
  font-size: 0.625rem;
  color: black; }
  h2:first-child {
    margin: 0 0 0.25rem; }

p {
  color: rgba(0, 0, 0, 0.45);
  font-size: 1rem;
  line-height: 1.35;
  margin: 0 0 1.2rem; }

a {
  text-decoration: none;
  color: white;
  -webkit-transition: 250ms color ease-out;
  -moz-transition: 250ms color ease-out;
  transition: 250ms color ease-out; }
  a:hover {
    color: rgba(249, 249, 249, 0.55);
    -webkit-transition: 100ms color ease-out;
    -moz-transition: 100ms color ease-out;
    transition: 100ms color ease-out; }

body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  font-family: "sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: black;
  background: white;
  color: black; }

::selection {
  background: #777;
  color: white; }

::-moz-selection {
  background: #777;
  color: white; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

header, section, footer {
  width: 100%;
  height: auto; }

body {
  overflow: hidden !important; }

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%; }

.block-half {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 47.58547%; }
  .block-half:last-child {
    margin-right: 0; }

.block-third {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 30.11397%; }
  .block-third:last-child {
    margin-right: 0; }

.block-fourth {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 21.37821%; }
  .block-fourth:last-child {
    margin-right: 0; }

.block-fifth {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 16.13676%; }
  .block-fifth:last-child {
    margin-right: 0; }

.masthead-contain {
  background: url(https://farm3.staticflickr.com/2910/14179024366_e49cce7a42_h.jpg) no-repeat right center;
  background-size: cover;
  padding: 0.75rem;
  height: 100%; }

.logo {
  width: 100%;
  height: auto;
  display: block; }
  .logo img {
    width: 100%;
    height: auto; }
  .logo:after {
    content: " ";
    display: block;
    width: 7%;
    background: #ff7d00;
    height: 2px;
    margin-bottom: 1.25%; }

.info-contain {
  background: #ff7d00;
  padding: 1.25rem 0.75rem 0;
  position: absolute;
  bottom: 0; }

.info {
  max-width: 37.5rem;
  position: relative; }

.p-white-sm {
  display: block;
  font-size: 0.65rem;
  margin: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

@media screen and (max-width: 767px) {
  .info-contain {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%);
    -webkit-transition: 400ms -webkit-transform ease-out, 800ms opacity ease-out;
    -moz-transition: 400ms -moz-transform ease-out, 800ms opacity ease-out;
    -o-transition: 400ms -o-transform ease-out, 800ms opacity ease-out;
    transition: 400ms transform ease-out, 800ms opacity ease-out;
    opacity: 0; }

  .show-info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.95; } }
@media screen and (min-width: 768px) {
  .wrapper {
    display: block; }
    .wrapper::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0 !important; }

  .masthead-contain, .info-contain {
    float: left;
    width: 50%;
    padding: 4rem 3rem;
    min-height: 100%;
    height: 100%;
    position: static;
    opacity: 1; }

  .info {
    height: 100%; }

  .p-white-sm {
    position: absolute;
    bottom: 0; } }
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.5rem;
    line-height: 1.22; } }
@media screen and (min-width: 1441px) {
  /*
  .masthead-contain {
    width: 66.666%;
  }
  .info-contain {
    width: 33.333%;
  }*/
  .logo {
    width: 75%; } }
