@import "partials/_reset";
@import "bourbon";
@import "neat/neat";
@import "partials/_fonts";
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_styleguide";
@import "partials/_base";

// Structure

header, section, footer {
  width: 100%;
  height: auto;
}

body {
  overflow: hidden !important;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.block-half {
  @include span-columns(6 of 12);
}

.block-third {
  @include span-columns(4 of 12);
}

.block-fourth {
  @include span-columns(3 of 12);
}

.block-fifth {
  @include span-columns(2.4 of 12);
}


// Header

.masthead-contain {
  background: url(https://farm3.staticflickr.com/2910/14179024366_e49cce7a42_h.jpg) no-repeat right center;
  background-size: cover;
  padding:0.75rem;
  height: 100%;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
  img {
    width: 100%;
    height: auto;
  }
  &:after {
    content:" ";
    display: block;
    width: 7%;
    background: $orange;
    height: 2px;
    margin-bottom: 1.25%;
  }
}

.info-contain {
  background: $orange;
  padding: 1.25rem 0.75rem 0;
  position: absolute;
  bottom: 0;
}

.info {
   max-width: 37.5rem;
   position: relative;
}

.p-white-sm {
  display: block;
  font-size: 0.65rem;
  margin: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {

.info-contain {
  width: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  @include transition($short-transition all ease-out);
  opacity: 0;
}

.show-info {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: 0.95;
}

}

@media screen and (min-width: 768px) {

.wrapper {
  @include clearfix;
}


.masthead-contain, .info-contain {
  float: left;
  width: 50%;
  padding: 4rem 3rem;
  min-height: 100%;
  height: 100%;
  position: static;
  opacity: 1;
}

.info {
  height: 100%;
}

.p-white-sm {
  position: absolute;
  bottom: 0;
}

}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.5rem;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1441px) {
/*
.masthead-contain {
  width: 66.666%;
}
.info-contain {
  width: 33.333%;
}*/

.logo {
  width: 75%;
}

}