<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseUrl }}assets/style.css?v=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseUrl }}/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseUrl }}/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseUrl }}/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseUrl }}/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseUrl }}/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseUrl }}/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseUrl }}/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseUrl }}/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseUrl }}/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseUrl }}/images/apple-touch-icon-180x180.png" />

    <!--Google Analytics-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20368518-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


    <!-- JS -->
    <script src="{{site.baseUrl}}assets/js/jquery.min.js"></script>
    <script src="{{site.baseUrl}}assets/js/main.min.js"></script>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <!-- Normal Meta -->
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="index,follow">

    <!-- Facebook Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">

  </head>
  <body>
    <div id="page">
      <div class="page-content">
        {{ content }}
      </div>
    </div>
    
  </body>
</html>
