@font-face {
  font-family: 'serif';
  src: url('../f/serif.eot');
  src: local('☺'), url('../f/serif.woff') format('woff'), url('../f/serif.ttf') format('truetype'), url('../f/serif-bold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'serif';
  src: url('../f/serif-bold.eot');
  src: local('☺'), url('../f/serif-bold.woff') format('woff'), url('../f/serif-bold.ttf') format('truetype'), url('../f/serif-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
