h1,h2,h3,h4,h5 {
  font-family: $sans;
}

h1 {
  font-size: 1.1rem;
  font-weight: $bold;
  color: black;
  @include aa-text;
}

h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 0.25rem;
  font-size: 0.625rem;
  color: black;
  &:first-child {
    margin: 0 0 0.25rem;
  }
}

h3 {
}

p {
  color: $gray-lighter-opacity;
  font-size: 1.5rem;
  line-height: 1.22;
  margin: 0 0 1.2rem;
}

strong {
}

em {
}

a {
  text-decoration: none;
  color: white;
  @include transition($hover-speed color ease-out);
  &:hover {
    color: $gray-offwhite-opacity;
    @include transition($fast-hover color ease-out);
  }
}

// Animations