// Type Styles

$sans: 'sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
$serif: "Adobe Caslon Pro", Georgia, serif;

$bold: 700;
$normal: 500;
$light: 300;

// Colors

$background: #ccc;

$gray-offwhite-opacity: rgba(249,249,249,0.55);
$gray-offwhite: #f9f9f9;
$gray-superlight: #ddd;
$gray-lightest: #b9b9b9;
$gray-lighter: #aaaaaa;
$gray-lighter-opacity: rgba(0,0,0,0.45);
$gray-light: #888888;

$orange: #FF7D00;

// Speeds
$fast-hover: 100ms;
$hover-speed: 250ms;
$short-transition: 400ms;
$long-transition: 800ms;

// Animations

@include keyframes(loader) {
  0% { @include transform(); }
  100% { @include transform(rotate(360deg)); }
}