//Fonts
@font-face {
  font-family: 'jb-grotesk';
  @include font-url-woff('jb-regular');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'jb-grotesk';
  @include font-url-woff('jb-medium');
  font-weight: 500;
  font-style: normal;
}

