// Global Styleguide

a {
  color: $black;
  transition: color $hover-out ease-out;
  &:hover {
    color: $black;
    transition: color $hover-in ease-out;
  }
}

@mixin sg-h1 {
  font-weight: $type-medium;
}

@mixin sg-h2 {
  font-weight: $type-medium;
}

@mixin sg-h3 {
  font-weight: $type-medium;
}

@mixin sg-h4 {
  font-weight: $type-medium;
}

@mixin sg-h5 {
  font-weight: $type-medium;
}

@mixin sg-h6 {
  font-weight: $type-medium;
}

@mixin sg-body-copy {
  font-weight: $type-medium;
}

%sg-body-copy {
  @include sg-body-copy;
}

@mixin sg-body-copy-lg {
}

%sg-body-copy-lg {
  @include sg-body-copy-lg;
}

@mixin sg-body-link {
}

@mixin sg-text-link {
  color: $accent-color;
  border-bottom: 1px solid currentColor;
  font-weight: $type-medium;
  line-height: inherit;
  transition: all $hover-out $ease-out-cubic;
  display: inline-block;
  &:hover {
    color: $text-color;
    border-bottom: 1px solid transparent;
  }
}

%sg-body-link {
  @include sg-text-link;
}

// body-link is for links used within copy blocks. text-link is used for non-button links all alone in the design.

@mixin sg-text-cta {
  color: $highlight;
  &:hover {
    color: $highlight-lighter;
  }
  &:active {
    color: $text-light-grey;
  }
}

a,
[class*="text-link"] {
  @include sg-text-link();
}

%sg-h1, h1, .h1 {
  @include sg-h1;
}

%sg-h2, h2, .h2 {
  @include sg-h2;
}

%sg-h3, h3, .h3 {
  @include sg-h3;
}

%sg-h4, h4, .h4 {
  @include sg-h4;
}

%sg-h5, h5, .h5 {
  @include sg-h5;
}

%sg-h6, h6, .h6 {
  @include sg-h6;
}

p {
  @include sg-body-copy;
  // max-width: 40em;
  &:not(:first-of-type) {
    margin-top: $line-x1;
  }
  a {
    @include sg-text-link;
  }
  &.p-large {
    @include sg-body-copy-lg;
  }
}

blockquote {
  @extend %sg-blockquote !optional;
}


.text-link {
  @extend %sg-text-link !optional;
}

[class*="sep"] {
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  height: 100%;
}

.sep-comma {
  color: $text-light-grey;
  margin-left: 0;
  margin-right: 0;
  &:before {
    content: ', ';
  }
}

.sep-ndash {
  color: $text-light-grey;
  margin-left: 0;
  margin-right: 0;
  &:before {
    content: '\2013';
  }
}

.sep-vertical {
  display: inline-block;
  height: 1em;
  vertical-align: -10%;
  border-right: $border-width solid $text-light-grey;
  margin-left: 0.5em;
  margin-right: 0.8em;
}

.sep-horizontal {
  display: block;
  width: rem(80);
  margin-left: 0;
  margin-right: 0;
  height: $border-width;
  border-top: $standard-border;
}

.sep-slash {
  margin-left: 0.25em;
  margin-right: 0.25em;
  &:before {
    content: '/';
  }
}


.black {
  color: $black;
}

.type-light {
  font-weight: $type-light;
}

.type-book {
  font-weight: $type-book;
}

.type-medium {
  font-weight: $type-medium;
}

.type-bold {
  font-weight: $type-bold;
}

.font-sans {
  font-family :$font-text;
}

hr {
  height: 1px;
  border: 0;
  border-bottom: $standard-border;
  display: block;
}