// Global Styleguide

a {
  color: $black;
  transition: color $hover-out ease-out;
  &:hover {
    color: $black;
    transition: color $hover-in ease-out;
  }
}

%underline-black,
.underline-black {
  background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($black,$black);
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-position: 0 98%,100% 98%,0 98%;
  text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
}

.hover-underline {
  @include media($large-up) {
    text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
    position: relative;
  }
  &:before {
    @include media($large-up) {
      content: '';
    }
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom: -$border-width;
    transition: width $hover-out $ease-out-quart;
    @extend %underline-black;
    z-index: -1;
  }
  &:hover {
    @include media($large-up) {
      &:before {
        width: 100%;
        transition: width $hover-in $ease-out-quart;
      }
    }
  }
}

.hover-underline-span {
  .underline {
    @include media($large-up) {
      text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
      position: relative;
    }
    &:before {
      @include media($large-up) {
        content: '';
      }
      display: block;
      position: absolute;
      width: 0;
      top: 0;
      left: 0;
      bottom: -$border-width;
      transition: width $hover-out $ease-out-quart;
      @extend %underline-black;
      z-index: -1;
    }
  }
  &:hover .underline {
    @include media($large-up) {
      &:before {
        width: 99%;
        transition: width $hover-in $ease-out-quart;
      }
    }
  }
}



.hover-underline-after {
  @include media($large-up) {
    text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
    position: relative;
  }
  &:after {
    @include media($large-up) {
      content: '';
    }
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: $border-width;
    transition: all $hover-out $ease-out-quart;
    opacity: 0;
    @extend %underline-black;
    z-index: -1;
  }
  &:hover {
    @include media($large-up) {
      &:after {
        opacity: 1;
        transition: all $hover-in $ease-out-quart;
      }
    }
  }
}

@mixin sg-h1 {
  font-weight: $type-medium;
}

@mixin sg-h2 {
  font-weight: $type-medium;
}

@mixin sg-h3 {
  font-weight: $type-medium;
}

@mixin sg-h4 {
  font-weight: $type-medium;
}

@mixin sg-h5 {
  font-weight: $type-medium;
}

@mixin sg-h6 {
  font-weight: $type-medium;
}

@mixin sg-body-copy {
  font-weight: $type-medium;
}

%sg-body-copy {
  @include sg-body-copy;
}

@mixin sg-body-copy-lg {
}

%sg-body-copy-lg {
  @include sg-body-copy-lg;
}

@mixin sg-body-link {
}

@mixin sg-text-link {
  color: $text-light-grey;
  font-weight: $type-medium;
  line-height: inherit;
  transition: color $hover-out $ease-out-cubic;
  display: inline-block;
}

%sg-body-link {
  @include sg-text-link;
}

// body-link is for links used within copy blocks. text-link is used for non-button links all alone in the design.

@mixin sg-text-cta {
  color: $highlight;
  &:hover {
    color: $highlight-lighter;
  }
  &:active {
    color: $text-light-grey;
  }
}

[class*="text-link"] {
  @include sg-text-link();
}

a[class*="text-link"] {
  @extend %no-aa-text;

  &:not(.underline-span) {
    &:not(.text-link-back) {
      @extend .hover-underline;
      &:before {
        z-index: 0;
      }
    }

    &.text-link-back {
      @extend .hover-underline-after;
      &:after {
        z-index: 0;
      }
    }
  }

  &.underline-span {
    @extend .hover-underline-span;
    .underline {
      &:before {
        z-index: 0;
      }
    }
  }

  &:hover {
    color: $black;
    transition: color $hover-in $ease-out-cubic;
  }

  &:active {
    color: $highlight;
  }
}

h1,h2,h3,h4,h5,h6, p {
  a:hover {
    color: $black;
  }
  @include aa-text();
}

%sg-h1, h1, .h1 {
  @include sg-h1;
}

%sg-h2, h2, .h2 {
  @include sg-h2;
}

%sg-h3, h3, .h3 {
  @include sg-h3;
}

%sg-h4, h4, .h4 {
  @include sg-h4;
}

%sg-h5, h5, .h5 {
  @include sg-h5;
}

%sg-h6, h6, .h6 {
  @include sg-h6;
}

p {
  @include sg-body-copy;
  // max-width: 40em;
  &:not(:first-of-type) {
    margin-top: $line-x2;
  }
  a {
    @include sg-text-link;
  }
  &.p-large {
    @include sg-body-copy-lg;
  }
}

blockquote {
  @extend %sg-blockquote !optional;
}


.text-link {
  @extend %sg-text-link !optional;
}

[class*="sep"] {
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  height: 100%;
}

.sep-comma {
  color: $text-light-grey;
  margin-left: 0;
  margin-right: 0;
  &:before {
    content: ', ';
  }
}

.sep-ndash {
  color: $text-light-grey;
  margin-left: 0;
  margin-right: 0;
  &:before {
    content: '\2013';
  }
}

.sep-vertical {
  display: inline-block;
  height: 1em;
  vertical-align: -10%;
  border-right: $border-width solid $text-light-grey;
  margin-left: 0.5em;
  margin-right: 0.8em;
}

.sep-horizontal {
  display: block;
  width: rem(80);
  margin-left: 0;
  margin-right: 0;
  height: $border-width;
  border-top: $standard-border;
}

.sep-slash {
  margin-left: 0.25em;
  margin-right: 0.25em;
  &:before {
    content: '/';
  }
}


.black {
  color: $black;
}

.type-light {
  font-weight: $type-light;
}

.type-book {
  font-weight: $type-book;
}

.type-medium {
  font-weight: $type-medium;
}

.type-bold {
  font-weight: $type-bold;
}

.font-sans {
  font-family :$font-text;
}

hr {
  height: 1px;
  border: 0;
  border-bottom: $standard-border;
  display: block;
}